/* CSS Document
 *
 * Overrides and extends style information of Twitter Bootstrap
 */

body { padding-bottom: 100px; }

/* ========== EXTENDING GRID ========== */
.alpha { padding-left: 0; }
.omega { padding-right: 0; }

/* ========== COMMON RULES ========== */

ul { list-style: none; padding: 0;}

/* ========== SEARCH RESULTS ======== */
#result-wrapper .item { height: 220px; }

/* ========== FOOTER ========== */
#footer-nav { bottom: -190px; }

h2 { text-transform: capitalize; }


/* ======== MAIN Design ===== */
h1,h2,h3,h4,h5,h6,p,a, body{
	color: #e3e3e3;
}
h3{
	margin-bottom: 5px;
	margin-left: -5px;
}
a:hover{
	color: #778899;
}

body{
	background-color: #525252;
	padding-bottom: 70px; 	
}

.modal *{
	color: #1b1b1b;
}
/* -- Button Styles -- */

.btn{
	background-color: #ffffff;
	color: #1b1b1b;
}
.btn>a{
	color: #1b1b1b;
}
.btn-transparent{
	background-color: transparent;
	border-radius: 0;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.btn-transparent:hover{
	background-color: #778899;
}
.broadcast-btn{
	position: relative;
	margin-top: 10px; 	
}
/* -- Navigation --*/
.navbar{

	background-color: #1b1b1b;
	border-radius: 0;
	border: 1px solid #1b1b1b; 
}
.navbar .dropdown-toggle{
	margin: 10px;
	background-color: #778899;
	padding: 5px;
	color: #ffffff !important;
}
.navbar .dropdown-toggle:focus{background-color: #778899 !important;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background-color: #778899;
	color: #ffffff;
}

.navbar-nav li>a{color: #ffffff;}

.navbar .dropdown-menu{
	background-color: #1b1b1b;
}
.navbar .dropdown-menu>li>a, .navbar .dropdown-menu>li{
	color: #ffffff;	
}
.navbar .dropdown-menu>li>a:hover, .navbar .dropdown-menu>li>a:focus{
	background-color: #778899;
}

#footer-nav li>a{color: #ffffff;}
#footer-nav li:hover{background-color: #778899;}



/* -- Filter --*/
.header-container{
	background-color: #313131;
}



.video-item{
	margin-bottom: 20px;
	height:200px;
	overflow: hidden;
}
.video-item-description{
	background-color: #313131;
	font-size: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	position: absolute; 
	bottom: 0;
}
.video-item-title{
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap; 

}
.video-item img {
	padding: 0;
	width: 100%;
	min-height:90%;
}

/* -- Lists -- */

.list-item{
	margin-top: 20px;
	padding: 20px;
	border-bottom: 1px solid #ffffff; 
}



/* ===== Video_page ======*/

.select-box{
	position: absolute;
	padding: 5px;
	z-index: 1;
	background-color:#313131;
}


.select-box .btn, .select-box select{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	color: #1b1b1b;
}



/* ==== Playlist page ===*/

#playlist-before-container, #playlist-next-container{
}

/* Icons test works for Felix, David */
@font-face {   font-family: 'Glyphicons Halflings';   
     src: url('/css/font/glyphicons-halflings-regular.eot');   
     src: url('/css/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('/css/font/glyphicons-halflings-regular.woff') format('woff'),  
     url('/css/font/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('/css/font/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'); } 



/* ========= VIDEO-JS overwritten ==== */
.video-js {
    min-width: 100% !important;
    width: auto !important; /* override the plugin's inline dims to let vids scale fluidly */
    height: auto !important;
}
.video-js video {position: relative !important;}
.video-js .vjs-big-play-button {
	position: absolute;
    top: 50%; /* errrr, why isn't the play button centered in the default skin? :) */
    left: 50%;
    margin:-2em /* the old negative margin trick */
}

.badge-new{
	position: absolute;
	background-image: url('/css/images/badge_new.png');
	background-repeat: no-repeat;
	background-size:100%;
	height: 100%;
	top: 0; 
}
.badge-hot{
	position: absolute;
	background-image: url('/css/images/badge_hot.png');
	background-repeat: no-repeat;
	background-size:100%;
	height: 100%;
	top: 0; 
}