/* CSS Document
 *
 * Overrides and extends style information of Twitter Bootstrap
 */

body { padding-bottom: 100px; }

/* ========== EXTENDING GRID ========== */
.alpha { padding-left: 0; }
.omega { padding-right: 0; }

/* ========== COMMON RULES ========== */

ul { list-style: none; padding: 0;}
input {color: #313131;}
/* ========== SEARCH RESULTS ======== */
#result-wrapper .item { height: 220px; }

.list {margin-bottom: 50px;}
/* ========== FOOTER ========== */
#footer-nav { bottom: -170px; }

h2 { text-transform: capitalize; }


/* ======== MAIN Design ===== */
h1,h2,h3,h4,h5,h6,p,a, body{
	color: #e3e3e3;
}
h3{
	margin-bottom: 3px;
	letter-spacing: -0.05em;
	color: #ffffff;
}
a:hover{
	color: #778899;
}

body{
	background-color: #525252;
	padding-bottom: 70px; 	
}

.modal *{
	color: #1b1b1b;
}


/* ====== Button Styles ======= */

.btn{
	background-color: #ffffff;
	color: #1b1b1b;
}
.btn>a{
	color: #1b1b1b;
}
.btn-transparent{
	background-color: transparent;
	border-radius: 0;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-bottom: 15px;
}
.btn-transparent:focus{
	color: #ffffff;
}
.btn-transparent:hover{
	background-color: #778899;
}
.broadcast-btn{
	position: relative;
	margin-top: 10px; 
	margin-bottom: 5px;	
}
.broadcast-btn{
	text-align: left;
	text-indent: 5px;
}
.broadcast-btn .glyphicon{
	margin-left: -5px; 
}


/* ========= Navigation ======== */
.navbar{

	background-color: #1b1b1b;
	border-radius: 0;
	border: 1px solid #1b1b1b; 
}
.navbar .dropdown-toggle{
	margin: 10px;
	background-color: #778899;
	padding: 5px;
	color: #ffffff !important;
}
.navbar .dropdown-toggle:focus, .navbar .dropdown-toggle:hover{background-color: #778899 !important;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background-color: #778899;
	color: #ffffff;
}

.navbar-nav li>a{color: #ffffff;}

.navbar .dropdown-menu{
	background-color: #1b1b1b;
}
.navbar .dropdown-menu>li>a, .navbar .dropdown-menu>li{
	color: #ffffff;	
}
.navbar .dropdown-menu>li>a:hover, .navbar .dropdown-menu>li>a:focus{
	background-color: #778899;
}

#footer-nav li>a{color: #ffffff;}
#footer-nav li:hover{background-color: #778899;}



/*  ====== Filter  ========*/
.header-container{
	background-color: #313131;
	border:none;
	box-shadow: 0px 1px 5px 1px #000000;
	padding-top: 30px;
}
#duration-slider{
	background-color: #ffffff;
}
#duration-slider .ui-slider-handle{
	background-color: #1b1b1b;
	box-shadow: 1px 1px 3px #000000; 
}


 
/* ========== Video Item ====*/
.video-item{
	margin-bottom: 20px;
	height:auto;
	overflow: hidden;
	font-size: 12px;
	padding:7px;
}
.video-item-description{
	background-color: #313131;
	padding-right: 15px;
	box-shadow: 0px 1px 5px 1px #000000;
}
.video-item-title{
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #778899;
}
.video-item-subtitle{
	min-width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.video-item img {
	top: 0;
	padding: 0;
	width: 100%;
	box-shadow: 0px 0px 5px 1px #000000;
	/*min-height:90%;*/
}
.badge-new{
	position: absolute;
	background-image: url('/css/images/badge_new.png');
	background-repeat: no-repeat;
	background-size:100%;
	height: 100%;
	top: 7px; 
}
.badge-hot{
	position: absolute;
	background-image: url('/css/images/badge_hot.png');
	background-repeat: no-repeat;
	background-size:100%;
	height: 100%;
	top: 7px; 
}

/* ========= Lists ======== */

.list-item{
	margin-top: 20px;
	padding: 20px;
	/*border-bottom: 1px solid #ffffff;*/
	background-color: #313131;
	padding-right: 15px;
	box-shadow: 0px 1px 5px 1px #000000; 
}



/* ===== Video_page ======*/

.select-box{
	position: absolute;
	padding: 5px;
	z-index: 1;
	background-color:#313131;
	box-shadow: 0px 0px 5px 1px #000000;

}


.select-box select, .select-box input{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	color: #1b1b1b;
	padding: 5px;
}


.feedback{
	background-color: #778899;
	border-radius: 0;
	color: #ffffff;
	border: 1px solid #ffffff;
	margin-bottom: 5px;
	border-radius: 10px;
	width: auto;
}


/* ==== Playlist page ===*/

#playlist-before-container, #playlist-next-container{
}

/* Icons test works for Felix, David */
@font-face {   font-family: 'Glyphicons Halflings';   
     src: url('/css/font/glyphicons-halflings-regular.eot');   
     src: url('/css/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('/css/font/glyphicons-halflings-regular.woff') format('woff'),  
     url('/css/font/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('/css/font/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'); } 



/* ========= VIDEO-JS overwritten ==== */
.video-js {
    min-width: 100% !important;
    width: auto !important; /* override the plugin's inline dims to let vids scale fluidly */
    height: auto !important;
}
.video-js video {position: relative !important;}
.video-js .vjs-big-play-button {
	position: absolute;
    top: 50%; /* errrr, why isn't the play button centered in the default skin? :) */
    left: 50%;
    margin:-2em /* the old negative margin trick */
}


#loading-indicator {
  
}


/* ======= Other Design elements ===== */

#waiting{
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	text-align:center;
}
#waiting h2{
	background-color: #1b1b1b;
	position: absolute;
    top: 50%;
    text-transform: none;
    left: 25%;
}

.feedback-container{
	height: 50px;
	background-color: transparent;
	margin-top: -20px;
	margin-bottom: 0px;
	box-shadow: inset 0px -3px 3px 0px #1b1b1b;

}
.feedback-container div{
	width: auto;
	margin: 0 auto;
	display: inline-block;
}
.feedback-container h4{
	color: #ffffff;
	text-transform: none;
	
}
#feedback-container{	
	display: none;
	z-index: -99;
	top:-70px;
}

#feedback-container-danger{
	background-color: #3a0c0c;
}
#feedback-container-warning{
	background-color: #3f3030;
}

#icon-station{
	float: left;
	height: 20px;
}
#icon-station img{
	height: 100%;
	float: left;
}
#station{
	text-indent: 5px;
	padding-top: 5px;
	vertical-align: bottom;
	float: none;
	display: none;
}