body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:205px;
    width:1340px;
    height:692px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:698px;
}

.u1 {
    position:absolute;
    left:2px;
    top:338px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u2 {
    position:absolute;
    left:40px;
    top:978px;
    width:200px;
    height:10px;
    
}

.u3 {
    position:absolute;
    left:186px;
    top:344px;
    width:132px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#u4 {
    position:fixed;
    left: 50%;
    margin-left: -670px;
    bottom:0px;
    width:1341px;
    height:164px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:1341px;
    height:164px;
    
}

#u5 {
    position:absolute;
    left:0px;
    top:12px;
    width:1341px;
    height:151px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:1341px;
    height:151px;
    
}

.u6_normal {
    background-image: url('../Navigation_open_files/u156_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1340px;
    height:153px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:159px;
}

.u7 {
    position:absolute;
    left:2px;
    top:68px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:23px;
    top:13px;
    width:205px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:23px;
    top:67px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:23px;
    top:94px;
    width:219px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:272px;
    top:67px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:272px;
    top:94px;
    width:187px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:829px;
    top:67px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:829px;
    top:94px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:535px;
    top:13px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:535px;
    top:40px;
    width:261px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:535px;
    top:67px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:535px;
    top:94px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Navigation_open_files/u169_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u19 {
    position:absolute;
    left:252px;
    top:5px;
    width:10px;
    height:143px;
    
}

.u20_line {
    background-image: url('../Navigation_open_files/u170_line.png');
}

.u20_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u20 {
    position:absolute;
    left:515px;
    top:5px;
    width:10px;
    height:143px;
    
}

.u21_line {
    background-image: url('../Navigation_open_files/u171_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u21 {
    position:absolute;
    left:811px;
    top:7px;
    width:10px;
    height:143px;
    
}

.u22_line {
    background-image: url('../Navigation_open_files/u172_line.png');
}

.u22_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u22 {
    position:absolute;
    left:1021px;
    top:7px;
    width:10px;
    height:143px;
    
}

.u23 {
    position:absolute;
    left:23px;
    top:40px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:1043px;
    top:67px;
    width:163px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1043px;
    top:94px;
    width:163px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:20px;
    top:121px;
    width:219px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:269px;
    top:121px;
    width:243px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:537px;
    top:121px;
    width:205px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:831px;
    top:121px;
    width:66px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1043px;
    top:121px;
    width:229px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Navigation_closed_files/nav_closed_u182_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:125px;
    width:1340px;
    height:38px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:44px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:1336px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1340px;
    height:163px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:169px;
}

.u36 {
    position:absolute;
    left:2px;
    top:74px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:0px;
    top:125px;
    width:1340px;
    height:38px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:44px;
}

.u38 {
    position:absolute;
    left:2px;
    top:11px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:716px;
    top:-198px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u40 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:716px;
    top:-190px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u42 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/header-background_u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:-6px;
    width:1341px;
    height:210px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1347px;
    height:216px;
}

.u44 {
    position:absolute;
    left:2px;
    top:97px;
    width:1337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:331px;
    top:0px;
    width:781px;
    height:201px;
    overflow:hidden;
}

#pd2u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u46_normal {
    background-image: url('../Slideshow_files/u30_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:-20px;
    width:779px;
    height:251px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

.u47 {
    position:absolute;
    left:2px;
    top:118px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u48_normal {
    background-image: url('../Slideshow_files/u32_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:-50px;
    width:779px;
    height:250px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:250px;
}

.u49 {
    position:absolute;
    left:2px;
    top:117px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u50_normal {
    background-image: url('../Slideshow_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

.u51 {
    position:absolute;
    left:2px;
    top:118px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u52 {
    position:absolute;
    left:520px;
    top:124px;
    width:592px;
    height:66px;
    overflow:hidden;
}

#pd2u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u53_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u54 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u57_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u61_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u62 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:200px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:200px;
}

.u67 {
    position:absolute;
    left:2px;
    top:92px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:1179px;
    top:32px;
    width:27px;
    height:27px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u69 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:1216px;
    top:32px;
    width:27px;
    height:27px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u71 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:1253px;
    top:32px;
    width:27px;
    height:27px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u73 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:1252px;
    top:91px;
    width:27px;
    height:27px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u75 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/image_u76_normal.png');
}

.u76_container {
    position:absolute;
    left:1179px;
    top:91px;
    width:27px;
    height:27px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u77 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:1216px;
    top:91px;
    width:27px;
    height:27px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u79 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:1134px;
    top:144px;
    width:200px;
    height:31px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:37px;
}

.u81 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1163px;
    top:148px;
    width:149px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u83_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:1311px;
    top:150px;
    width:21px;
    height:21px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:1138px;
    top:150px;
    width:21px;
    height:21px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:327px;
    top:0px;
    width:10px;
    height:200px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u88 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:1104px;
    top:0px;
    width:10px;
    height:200px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u90 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u89_normal.png');
}

.u91_container {
    position:absolute;
    left:320px;
    top:0px;
    width:10px;
    height:200px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u92 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u87_normal.png');
}

.u93_container {
    position:absolute;
    left:1111px;
    top:0px;
    width:10px;
    height:200px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u94 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u39_normal.png');
}

.u95_container {
    position:absolute;
    left:716px;
    top:-198px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u96 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u41_normal.png');
}

.u97_container {
    position:absolute;
    left:716px;
    top:-190px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u98 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:281px;
    top:210px;
    width:178px;
    height:47px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:53px;
}

.u100 {
    position:absolute;
    left:2px;
    top:16px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_selected {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/Ausstellungen_u101_selected.png');
}

.u101_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/Ausstellungen_u101_normal.png');
}

.u101_container {
    position:absolute;
    left:281px;
    top:210px;
    width:178px;
    height:47px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:53px;
}

.u102 {
    position:absolute;
    left:2px;
    top:13px;
    width:174px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u103 {
    position:absolute;
    left:9px;
    top:210px;
    width:219px;
    height:348px;
    overflow:hidden;
}

#pd1u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:348px;
    
}

.u104_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:47px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:53px;
}

.u105 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:81px;
    top:13px;
    width:56px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:168px;
    top:11px;
    width:41px;
    height:25px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:31px;
}

.u108 {
    position:absolute;
    left:2px;
    top:4px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:47px;
    width:218px;
    height:150px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:156px;
}

.u110 {
    position:absolute;
    left:2px;
    top:67px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u109_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:197px;
    width:218px;
    height:150px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:156px;
}

.u120 {
    position:absolute;
    left:2px;
    top:67px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:39px;
    top:307px;
    width:146px;
    height:29px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:35px;
}

.u128 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:348px;
    
}

.u129_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u104_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:47px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:53px;
}

.u130 {
    position:absolute;
    left:2px;
    top:16px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:81px;
    top:13px;
    width:56px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u107_normal.png');
}

.u132_container {
    position:absolute;
    left:168px;
    top:11px;
    width:41px;
    height:25px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:31px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:460px;
    top:210px;
    width:221px;
    height:47px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:53px;
}

.u135 {
    position:absolute;
    left:2px;
    top:16px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_selected {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/Konzerte_Lesungen_u136_selected.png');
}

.u136_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/Konzerte_Lesungen_u136_normal.png');
}

.u136_container {
    position:absolute;
    left:459px;
    top:210px;
    width:221px;
    height:47px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:53px;
}

.u137 {
    position:absolute;
    left:2px;
    top:13px;
    width:217px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_container {
    position:absolute;
    left:814px;
    top:292px;
    width:293px;
    height:250px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:293px;
    height:250px;
}

.u139 {
    position:absolute;
    left:2px;
    top:117px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:1107px;
    top:292px;
    width:225px;
    height:250px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:256px;
}

.u141 {
    position:absolute;
    left:2px;
    top:117px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1114px;
    top:297px;
    width:212px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:1114px;
    top:347px;
    width:212px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_container {
    position:absolute;
    left:273px;
    top:292px;
    width:293px;
    height:250px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:293px;
    height:250px;
}

.u145 {
    position:absolute;
    left:2px;
    top:117px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u140_normal.png');
}

.u146_container {
    position:absolute;
    left:566px;
    top:292px;
    width:225px;
    height:250px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:256px;
}

.u147 {
    position:absolute;
    left:2px;
    top:117px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:573px;
    top:297px;
    width:212px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:573px;
    top:344px;
    width:212px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_container {
    position:absolute;
    left:273px;
    top:563px;
    width:293px;
    height:250px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:293px;
    height:250px;
}

.u151 {
    position:absolute;
    left:2px;
    top:117px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Ausstellungen_-_gefiltert_2_files/u140_normal.png');
}

.u152_container {
    position:absolute;
    left:566px;
    top:563px;
    width:225px;
    height:250px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:256px;
}

.u153 {
    position:absolute;
    left:2px;
    top:117px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:573px;
    top:568px;
    width:212px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:573px;
    top:667px;
    width:212px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

