body {
    margin: 0px;
    background-image: url('bg.jpg');
    background-position: left top;
    background-repeat: repeat;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Rundgang_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u0 {
    position:absolute;
    left:20px;
    top:840px;
    width:200px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:130px;
    top:284px;
    width:319px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:516px;
    top:284px;
    width:319px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:942px;
    top:284px;
    width:319px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:130px;
    top:323px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:942px;
    top:323px;
    width:239px;
    height:272px;
    overflow:hidden;
}

#pd14u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u6_normal {
    background-image: url('../Rundgang_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u7 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd13u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u9_normal {
    background-image: url('../Rundgang_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u10 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd12u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u12_normal {
    background-image: url('../Rundgang_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u13 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd11u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u15_normal {
    background-image: url('../Rundgang_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u16 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd10u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u18_normal {
    background-image: url('../Rundgang_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u19 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd9u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u21_normal {
    background-image: url('../Rundgang_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u22 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd8u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u24_normal {
    background-image: url('../Rundgang_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u25 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd7u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u27_normal {
    background-image: url('../Rundgang_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u28 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u30_normal {
    background-image: url('../Rundgang_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u31 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u33_normal {
    background-image: url('../Rundgang_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u34 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u36_normal {
    background-image: url('../Rundgang_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u37 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u39_normal {
    background-image: url('../Rundgang_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u40 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u42_normal {
    background-image: url('../Rundgang_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u43 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u45_normal {
    background-image: url('../Rundgang_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u46 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:272px;
    
}

.u48_normal {
    background-image: url('../Rundgang_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:271px;
}

.u49 {
    position:absolute;
    left:2px;
    top:128px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:16px;
    top:9px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u51 {
    position:absolute;
    left:516px;
    top:323px;
    width:368px;
    height:213px;
    overflow:hidden;
}

#pd14u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:167px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:167px;
}

.u53 {
    position:absolute;
    left:2px;
    top:76px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:214px;
    top:0px;
    width:150px;
    height:150px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd13u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:167px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:167px;
}

.u56 {
    position:absolute;
    left:2px;
    top:76px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:211px;
    top:0px;
    width:150px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:3px;
    top:191px;
    width:362px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd12u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:210px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:210px;
}

.u60 {
    position:absolute;
    left:2px;
    top:97px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:183px;
    top:0px;
    width:178px;
    height:195px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd11u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:145px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:145px;
}

.u63 {
    position:absolute;
    left:2px;
    top:64px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:219px;
    top:8px;
    width:147px;
    height:150px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:7px;
    top:159px;
    width:352px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd10u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:211px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:211px;
}

.u67 {
    position:absolute;
    left:2px;
    top:98px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:184px;
    top:8px;
    width:175px;
    height:150px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:184px;
    top:135px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:184px;
    top:150px;
    width:78px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd9u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:189px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:189px;
}

.u72 {
    position:absolute;
    left:2px;
    top:86px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:211px;
    top:1px;
    width:148px;
    height:210px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd8u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:169px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:169px;
}

.u75 {
    position:absolute;
    left:2px;
    top:76px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:213px;
    top:8px;
    width:146px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd7u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u77_container {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:138px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:138px;
}

.u78 {
    position:absolute;
    left:2px;
    top:61px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:189px;
    top:8px;
    width:170px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u80_container {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:212px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:212px;
}

.u81 {
    position:absolute;
    left:2px;
    top:98px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:162px;
    top:8px;
    width:197px;
    height:195px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:145px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:145px;
}

.u84 {
    position:absolute;
    left:2px;
    top:64px;
    width:233px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:246px;
    top:26px;
    width:120px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:7px;
    top:155px;
    width:360px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:152px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:152px;
}

.u88 {
    position:absolute;
    left:2px;
    top:68px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:206px;
    top:4px;
    width:160px;
    height:195px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u90_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:213px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:213px;
}

.u91 {
    position:absolute;
    left:2px;
    top:98px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:171px;
    top:7px;
    width:195px;
    height:210px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:206px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:206px;
}

.u94 {
    position:absolute;
    left:2px;
    top:95px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:165px;
    top:7px;
    width:195px;
    height:135px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:169px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:169px;
}

.u97 {
    position:absolute;
    left:2px;
    top:76px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:242px;
    top:7px;
    width:125px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:213px;
    
}

.u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:357px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:130px;
    top:347px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:130px;
    top:371px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:130px;
    top:395px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:130px;
    top:419px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:130px;
    top:443px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:130px;
    top:467px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:130px;
    top:491px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:130px;
    top:515px;
    width:319px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:130px;
    top:539px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:130px;
    top:563px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:130px;
    top:587px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:130px;
    top:611px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:130px;
    top:635px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:130px;
    top:660px;
    width:287px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:130px;
    top:241px;
    width:178px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u115 {
    position:fixed;
    left: 50%;
    margin-left: -670px;
    bottom:0px;
    width:1341px;
    height:164px;
    overflow:hidden;
}

#pd0u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:1341px;
    height:164px;
    
}

#u116 {
    position:absolute;
    left:0px;
    top:12px;
    width:1341px;
    height:151px;
    overflow:hidden;
}

#pd0u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:1341px;
    height:151px;
    
}

.u117_normal {
    background-image: url('../Navigation_open_files/u156_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1340px;
    height:153px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:159px;
}

.u118 {
    position:absolute;
    left:2px;
    top:68px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:23px;
    top:13px;
    width:205px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:23px;
    top:67px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:23px;
    top:94px;
    width:219px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:272px;
    top:67px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:272px;
    top:94px;
    width:187px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:829px;
    top:67px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:829px;
    top:94px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:535px;
    top:13px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:535px;
    top:40px;
    width:261px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:535px;
    top:67px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:535px;
    top:94px;
    width:216px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_line {
    background-image: url('../Navigation_open_files/u169_line.png');
}

.u130_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u130 {
    position:absolute;
    left:252px;
    top:5px;
    width:10px;
    height:143px;
    
}

.u131_line {
    background-image: url('../Navigation_open_files/u170_line.png');
}

.u131_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u131 {
    position:absolute;
    left:515px;
    top:5px;
    width:10px;
    height:143px;
    
}

.u132_line {
    background-image: url('../Navigation_open_files/u171_line.png');
}

.u132_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u132 {
    position:absolute;
    left:811px;
    top:7px;
    width:10px;
    height:143px;
    
}

.u133_line {
    background-image: url('../Navigation_open_files/u172_line.png');
}

.u133_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:143px;
}

.u133 {
    position:absolute;
    left:1021px;
    top:7px;
    width:10px;
    height:143px;
    
}

.u134 {
    position:absolute;
    left:23px;
    top:40px;
    width:102px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:1043px;
    top:67px;
    width:163px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:1043px;
    top:94px;
    width:163px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:20px;
    top:121px;
    width:219px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:269px;
    top:121px;
    width:243px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:537px;
    top:121px;
    width:205px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:831px;
    top:121px;
    width:66px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:1043px;
    top:121px;
    width:229px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../Navigation_closed_files/nav_closed_u182_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:125px;
    width:1340px;
    height:38px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:44px;
}

.u144 {
    position:absolute;
    left:2px;
    top:4px;
    width:1336px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u146_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1340px;
    height:163px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:169px;
}

.u147 {
    position:absolute;
    left:2px;
    top:74px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u148_container {
    position:absolute;
    left:0px;
    top:125px;
    width:1340px;
    height:38px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:44px;
}

.u149 {
    position:absolute;
    left:2px;
    top:11px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Rundgang_files/header-background_u150_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:-6px;
    width:1341px;
    height:210px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1347px;
    height:216px;
}

.u151 {
    position:absolute;
    left:2px;
    top:97px;
    width:1337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u152 {
    position:absolute;
    left:331px;
    top:0px;
    width:781px;
    height:201px;
    overflow:hidden;
}

#pd2u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u153_normal {
    background-image: url('../Slideshow_files/u30_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:-20px;
    width:779px;
    height:251px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

.u154 {
    position:absolute;
    left:2px;
    top:118px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u155_normal {
    background-image: url('../Slideshow_files/u32_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:-50px;
    width:779px;
    height:250px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:250px;
}

.u156 {
    position:absolute;
    left:2px;
    top:117px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:781px;
    height:201px;
    
}

.u157_normal {
    background-image: url('../Slideshow_files/u34_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:779px;
    height:251px;
}

.u158 {
    position:absolute;
    left:2px;
    top:118px;
    width:775px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u159 {
    position:absolute;
    left:520px;
    top:124px;
    width:592px;
    height:66px;
    overflow:hidden;
}

#pd2u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u160_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u161 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u164_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u165 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:592px;
    height:66px;
    
}

.u168_normal {
    background-image: url('../Slideshow_files/u37_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:0px;
    width:589px;
    height:63px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:69px;
}

.u169 {
    position:absolute;
    left:2px;
    top:24px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:11px;
    top:1px;
    width:562px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:11px;
    top:22px;
    width:562px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../Rundgang_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:200px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:200px;
}

.u174 {
    position:absolute;
    left:2px;
    top:92px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../Rundgang_files/u175_normal.png');
}

.u175_container {
    position:absolute;
    left:1179px;
    top:32px;
    width:27px;
    height:27px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u176 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../Rundgang_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:1216px;
    top:32px;
    width:27px;
    height:27px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u178 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../Rundgang_files/u179_normal.png');
}

.u179_container {
    position:absolute;
    left:1253px;
    top:32px;
    width:27px;
    height:27px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u180 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../Rundgang_files/u181_normal.png');
}

.u181_container {
    position:absolute;
    left:1252px;
    top:91px;
    width:27px;
    height:27px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u182 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../Rundgang_files/image_u183_normal.png');
}

.u183_container {
    position:absolute;
    left:1179px;
    top:91px;
    width:27px;
    height:27px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u184 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../Rundgang_files/u185_normal.png');
}

.u185_container {
    position:absolute;
    left:1216px;
    top:91px;
    width:27px;
    height:27px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:27px;
}

.u186 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../Rundgang_files/u187_normal.png');
}

.u187_container {
    position:absolute;
    left:1134px;
    top:144px;
    width:200px;
    height:31px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:37px;
}

.u188 {
    position:absolute;
    left:2px;
    top:8px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:1163px;
    top:148px;
    width:149px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u190_normal {
    background-image: url('../Rundgang_files/u190_normal.png');
}

.u190_container {
    position:absolute;
    left:1311px;
    top:150px;
    width:21px;
    height:21px;
}

#u190_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u191 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../Rundgang_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:1138px;
    top:150px;
    width:21px;
    height:21px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../Rundgang_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:327px;
    top:0px;
    width:10px;
    height:200px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u195 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../Rundgang_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:1104px;
    top:0px;
    width:10px;
    height:200px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u197 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../Rundgang_files/u196_normal.png');
}

.u198_container {
    position:absolute;
    left:320px;
    top:0px;
    width:10px;
    height:200px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u199 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../Rundgang_files/u194_normal.png');
}

.u200_container {
    position:absolute;
    left:1111px;
    top:0px;
    width:10px;
    height:200px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u201 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../Rundgang_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:716px;
    top:-198px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u203 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../Rundgang_files/u204_normal.png');
}

.u204_container {
    position:absolute;
    left:716px;
    top:-190px;
    width:10px;
    height:787px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:793px;
}

.u205 {
    position:absolute;
    left:2px;
    top:386px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

